.menu-container {
    height: 100%;
    color: #000000;
    .menu-items {
        color: #000000;
        background-color: #eeeeee;
        width: 6rem;
    }
    .menu-content {
        background-color: #ffffff;
    }
}